/* CSS declarations go here */
body {
  background: #595959;
  /*height: 100vh;*/
  overflow-y: hidden;
  margin: 0;
      
}

.panbox-box {
  background: #fff;
  width: 100%;
  height: 50vh;
  /*position: relative;*/
}

.drag-ball {
  width: 100px;
  height: 100px;
  background-color: orange;
  /*border-radius: 50%;*/
  border: 1px solid blue;
  /*transform-origin: 50% 50% 0;*/
}

#textarea {
  height: 30vh;
  width: 100%;
  /*background-color: #fff;*/
  color: #fff;
}
